.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
.DS_Store
.idea/
*.iml
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Podfile.lock
